body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

main {
  padding: 1em;
}

h1 {
  color: #ec0000;
  font-size: 2em;
  margin-bottom: 0.25em;
}

input {
  border: 1px solid #ec0000;
  border-radius: 0.25em;
  padding: 0.5em;
  margin: 1em 0;
  width: 20em;
  max-width: calc(100% - 1em);
  font-size: 20px;
}

input:focus {
  outline: none;
  box-shadow: 0 0 5px rgba(236, 0, 0, 0.5);
}

.searching__text {
  margin-top: 0;
}

.branch {
  border-top: 1px solid #ec0000;
  padding-top: 1em;
  display: grid;
  grid-template-columns: 10em 1fr;
  grid-row-gap: 0.5em;
}

.branch__value {
  font-weight: bold;
}
